*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial;
}
table{
    border-collapse:collapse;
}

.side {
    width: 20%;
}

.center {
    width: 60%;
}

.content {
    background: #ffffff;
}


.header {
    padding: 13px 30px;
}

.logo {
    font-weight: bold;
}

.phone {
    text-align: right;
}
.phone-wrapper{
    padding: 0 0 6px 0;

}
.phone p{
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-style: italic;
    text-align: right;
}
.phone2 p{
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
}
.phone2{
    padding-bottom: 6px;
}


.img{
    width: 100%;
}

.price {
    color: orange;
    font-size: 26px;
    font-weight: bold;
}


.about {
    padding:40px 30px;
}
.about h1{
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: bold;
}
.about p{

    font-size: 14px;
    line-height: 24px;
    color: #666666;
}
.padding{
    padding-bottom:20px ;
}
.btn {
    min-width: 180px;
    min-height: 40px;
    border-radius: 20px;
    background-color: #fd8300;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 12px 50px;
    
}

.block tr{
    background-color: #ededf5;
}
.block td {
    text-align: center;
    padding: 20px;
    background: #f5f5f5;
    min-width: 218px;
}
.block-icon h2{
    font-size: 14px;
    line-height: 18px;
    color: #24242b;
    font-weight: bold;
    text-align: center;
    padding-bottom: 9px;
}
.block-icon p{
    min-width: 166px;
    font-size: 13px;
    line-height: 18px;
    color: #666666;
    text-align: center;
}
.project-img1 img ,.project-img2 img,.project-img3 img{
    width: 100%;
}
.project-img1  ,.project-img2 ,.project-img3 {
    width: 50%;
    padding: 25px 0;
}
.project-img1 ,.project-img3{
    padding-left: 30px;
}
.project-img2{
    padding-right: 30px;
}
.projects {
    width: 100%;
}
.project-text{
    padding: 25px;
}
.project-text h2{
    font-size: 16px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
}
.project-text p{
    min-width: 260px;
    font-size: 13px;
    line-height: 19px;
    color: #9999a6;
    padding-bottom: 13px;
}
.project-text2{
    min-width: 220px;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
}
.card {
    width: 50%;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
}


.botom{
    background-image: url();
    text-align: center;
    width: 100%;
}
.botom td{
    padding: 35px;
}
.botom h2{
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    padding-bottom: 12px;
}
.botom p{
    min-width:  540px;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;

}
.botom a{
    border-radius: 20px;
    background-color: #1f1f56;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    padding: 12px 23px;
    text-decoration: none;
}
.botom-photos img{
    padding-right:10px ;
    padding-bottom: 10px;
}
.first{
    background-color: #08081a;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
    padding: 30px 0 25px 0;
}
.second{
    background-color: #000014;
    font-size: 11px;
    line-height: 18px;
    color: #fd8300;
    font-family: "Arial";
    text-align: center;
    text-decoration: none;
    padding: 17px 0;
}
.second a{
    background-color: #000014;
    font-size: 11px;
    line-height: 18px;
    color: #fd8300;
    font-family: "Arial";
    text-align: center;
    text-decoration: none;
}
.line {
    border: none;
    height: 1px;
    background-color: #e4e4ec;
}
.k{
    width: 100%;
}